# Database
MONGO_URI=mongodb+srv://username:password@cluster.mongodb.net/stacksherlock

# Elastic Cloud
ELASTIC_URL=https://your-cluster-id.es.us-central1.gcp.cloud.es.io:443
ELASTIC_API_KEY=your_base64_encoded_api_key
